@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
  font-family: Poppins;
  background-color: #053742;
  text-align: center;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  font-size: 1.4rem;
  font-weight: bolder;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}
.header p {
  margin: 0;
}
.logout {
  font-family: Poppins;
  padding: 10px;
  background-color: #13b120;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}
.logout:hover {
  background-color: blue;
}
.form_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 211, 211);
  height: 89vh;
}
.form {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px 0px;
  padding: 25px 55px;
  font-size: 1.2rem;
  background-color: #308fa7;
  border-radius: 20px;
  box-shadow: 0px 0px 30px white;
  color: white;
}
.form input {
  margin-bottom: 20px;
  border: none;
  padding: 6px;
  border-radius: 6px;
}
.btn_submit {
  font-family: Poppins;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  color: white;
  background-color: #13b120;
  border: none;
  box-shadow: 0px 0px 10px white;
  margin: 5px;
  cursor: pointer;
}
.btn_submit:hover {
  background-color: #053742;
}
.form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 0px;
  padding: 25px 55px;
  font-size: 1.2rem;
  background-color: #308fa7;
  border-radius: 10px;
  box-shadow: 0px 0px 30px white;
  color: white;
}
.form2 input {
  margin: 4px;
  border: none;
  padding: 6px;
  border-radius: 6px;
}
.form2 button{
  padding-left: 30px;
  padding-right: 30px;
}
.mar {
  margin: 5px;
}
.update_me {
  font-family: Poppins;
  font-weight: bolder;
  margin: 0px;
  margin-top: 34px;
  color: #053742;
  font-size: 1.2rem;
}
.details {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin: 8px;
  background-color: azure;
  border-radius: 8px;
  padding: 10px;
}
.detail {
  margin: 12px;
}
